In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("Data_Train.csv")

In [3]:
train.head()

,Unique_ID,Name,Genre,Country,Song_Name,Timestamp,Views,Comments,Likes,Popularity,Followers
0,413890,Hardstyle,danceedm,AU,N-Vitral presents BOMBSQUAD - Poison Spitter (...,2018-03-30 15:24:45.000000,14017,4,499,97,119563
1,249453,Dj Aladdin,danceedm,AU,Dj Aladdin - Old School Hip Hop Quick Mix,2016-06-20 05:58:52.000000,1918,17,49,17,2141
2,681116,Maxximize On Air,danceedm,AU,Maxximize On Air - Mixed by Blasterjaxx - Epis...,2015-05-08 17:45:59.000000,9668,11,312,91,22248
3,387253,GR6 EXPLODE,rbsoul,AU,MC Yago - Tenho Compromisso (DJ R7),2017-06-08 23:50:03.000000,113036,2,"2,400",76,393655
4,1428029,Tritonal,danceedm,AU,Escape (feat. Steph Jones),2016-09-17 20:50:19.000000,110024,81,"3,031",699,201030

In [4]:
train['day'] = pd.to_datetime(train['Timestamp']).dt.day
train['hour'] = pd.to_datetime(train['Timestamp']).dt.hour
train['month'] = pd.to_datetime(train['Timestamp']).dt.month
train['year'] = pd.to_datetime(train['Timestamp']).dt.year
train['minute'] = pd.to_datetime(train['Timestamp']).dt.minute

In [5]:
train.head()

,Unique_ID,Name,Genre,Country,Song_Name,Timestamp,Views,Comments,Likes,Popularity,Followers,day,hour,month,year,minute
0,413890,Hardstyle,danceedm,AU,N-Vitral presents BOMBSQUAD - Poison Spitter (...,2018-03-30 15:24:45.000000,14017,4,499,97,119563,30,15,3,2018,24
1,249453,Dj Aladdin,danceedm,AU,Dj Aladdin - Old School Hip Hop Quick Mix,2016-06-20 05:58:52.000000,1918,17,49,17,2141,20,5,6,2016,58
2,681116,Maxximize On Air,danceedm,AU,Maxximize On Air - Mixed by Blasterjaxx - Epis...,2015-05-08 17:45:59.000000,9668,11,312,91,22248,8,17,5,2015,45
3,387253,GR6 EXPLODE,rbsoul,AU,MC Yago - Tenho Compromisso (DJ R7),2017-06-08 23:50:03.000000,113036,2,"2,400",76,393655,8,23,6,2017,50
4,1428029,Tritonal,danceedm,AU,Escape (feat. Steph Jones),2016-09-17 20:50:19.000000,110024,81,"3,031",699,201030,17,20,9,2016,50

In [6]:
missing = [col for col in train.columns if train[col].isnull().any()]
missing

['Song_Name']

In [7]:
droppped = ['Country','Song_Name','Timestamp']

In [8]:
train.drop(['Country','Song_Name','Timestamp'], axis =1)

,Unique_ID,Name,Genre,Views,Comments,Likes,Popularity,Followers,day,hour,month,year,minute
0,413890,Hardstyle,danceedm,14017,4,499,97,119563,30,15,3,2018,24
1,249453,Dj Aladdin,danceedm,1918,17,49,17,2141,20,5,6,2016,58
2,681116,Maxximize On Air,danceedm,9668,11,312,91,22248,8,17,5,2015,45
3,387253,GR6 EXPLODE,rbsoul,113036,2,"2,400",76,393655,8,23,6,2017,50
4,1428029,Tritonal,danceedm,110024,81,"3,031",699,201030,17,20,9,2016,50
5,2839,k$upreme,all-music,223716,6,"4,500",325,71038,27,14,11,2017,55
6,414871,Hardstyle,danceedm,37480,15,"1,017",226,119563,22,17,1,2016,23
7,209496,Diplo,danceedm,4022,5,88,12,7120051,17,0,1,2012,0
8,967409,Nick Vanelli,trap,1263,0,28,7,1892,29,22,11,2018,37
9,171948,DeejayEcko(PNCS),latin,27874,0,622,47,2835,28,4,9,2017,7
10,1457484,TWOLOUD,danceedm,14411,23,397,124,60805,29,10,9,2014,29
11,1176704,Revealed Recordings,danceedm,115136,117,"3,360",753,449978,4,22,3,2016,42
12,1508244,WB x MB,electronic,3636,42,44,0,15839,12,21,7,2011,55
13,459831,No Mana,electronic,13617,14,512,64,29360,15,20,6,2018,23
14,414890,Hardstyle,danceedm,25859,7,795,179,119563,3,17,1,2016,2
15,680536,MMNC,danceedm,55360,31,921,78,271,6,19,1,2018,54
16,815152,Monstercat,danceedm,150755,44,"3,510",453,1007396,17,17,4,2018,35
17,816350,Monstercat,danceedm,1243585,978,16.1K,"3,463",1007396,14,20,10,2013,44
18,24991,AC Slater,electronic,26587,45,408,35,113537,27,23,10,2011,28
19,1231971,ROJAS,all-music,167110,47,"2,365",600,60435,10,2,2,2018,14
20,1431925,trndmsk,deephouse,3383,0,75,12,76211,12,9,10,2018,20
21,445211,Aminé,hiphoprap,250198,27,"4,225",352,198880,31,13,8,2015,29
22,1103451,promocionesfreddy,latin,12318,1,202,14,6342,10,18,10,2016,54
23,1086938,pmrecordings,danceedm,233,0,7,1,24016,6,13,12,2018,25
24,125159,Cat Dealers,electronic,909385,468,26.5K,"6,687",156764,17,23,10,2016,4
25,907567,Morgan Page,danceedm,34244,17,945,205,155645,8,17,6,2015,2
26,257221,DJ GUI MARQUES,rbsoul,276204,70,"7,383",457,47883,25,21,9,2018,46
27,1382516,Angel,all-music,2862,0,39,1,14652,14,0,8,2015,0
28,112485,Corridos Delux,latin,520389,24,"5,568",61,4366,12,6,11,2018,14
29,915199,MrSuicideSheep,classical,380818,61,"7,137","1,453",738781,25,17,4,2015,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78428,31674,Afterlife,electronic,27275,5,461,62,62307,9,12,5,2018,10
78429,1143964,Resident Advisor,ambient,33836,59,"1,913",227,143726,29,9,3,2017,57
78430,502890,JORDICARRERAS,rock,901,10,33,4,4029,15,20,7,2015,49
78431,1286970,Steve Aoki,all-music,24561,24,386,120,4127975,5,23,11,2013,23
78432,707152,Mixmag,electronic,138551,34,"2,830",660,1403057,27,15,4,2015,31
78433,209498,Diplo,danceedm,167151,331,"2,994",141,7120051,31,22,12,2011,59
78434,706760,Mixmag,electronic,101324,31,"3,851",697,1403057,30,15,3,2016,55
78435,189303,DILLONFRANCIS,electronic,671991,223,17K,"2,668",6173714,4,14,9,2015,45
78436,414099,Hardstyle,danceedm,12433,3,391,78,119563,22,16,9,2017,2
78437,1085860,pluffaduff,rock,46491,91,"1,405",122,2438,18,4,10,2018,1
78438,269101,DJ RayMambo,latin,7564,0,115,6,2997,10,2,3,2017,8
78439,1393114,Beats In Space,electronic,0,0,0,0,90704,9,6,9,2015,58
78440,509301,Justice Skolnik,electronic,847196,152,19.2K,"3,184",16535,9,18,11,2015,58
78441,447904,Lil Baby Street Gossip,rbsoul,61295,6,"1,332",87,10111,18,18,9,2018,59
78442,573140,Legado 7,latin,273,0,5,0,1892,21,0,4,2016,0
78443,1032034,officialb2s,danceedm,25498,29,643,86,64073,20,13,8,2015,47
78444,103656,bitbird,electronic,84326,76,"2,470",403,201165,27,15,4,2018,0
78445,556276,KVN j.,all-music,483,0,3,0,53,13,16,2,2019,37
78446,175033,DHA AM (Deep House London),electronic,15446,18,497,88,143743,24,15,5,2018,6
78447,521830,Kevin Gates,all-music,998975,80,15.7K,584,541870,24,16,9,2018,0
78448,1007051,Noisia Radio,drumbass,46975,89,"1,459",209,49537,11,15,10,2017,0
78449,438230,HEXAGON,deephouse,10293006,1039,181K,28.7K,152245,18,15,2,2015,37
78450,405899,GRAVEDGR,electronic,60574,82,"2,252",414,19163,5,4,10,2018,7
78451,84075,Bad Wolves,rock,15932,2,268,5,3182,11,0,5,2018,0
78452,336908,Featurecast,electronic,77194,194,"1,360",72,79397,26,10,10,2010,18
78453,1144131,Resident Advisor,ambient,12221,19,489,47,143726,8,9,2,2016,11
78454,1415261,Trap Sounds,trap,8265,4,292,100,211419,2,1,3,2016,24
78455,705157,Mixmag,electronic,3621,1,157,31,1403057,11,13,2,2019,15
78456,175337,DHA AM (Deep House London),electronic,8896,24,371,89,143743,18,10,1,2017,10
78457,501778,Jon Z ✅,all-music,102487,4,"1,829",71,89084,11,22,4,2015,32

In [9]:
e_cols = ['Name','Genre']

In [10]:
nunique = list(map(lambda col:train[col].nunique(),e_cols))
d = dict(zip(e_cols,nunique))

In [11]:
print(sorted(d.items(),key = lambda x:x[1]))

[('Genre', 21), ('Name', 1209)]

In [12]:
columns = list(train.columns)
columns.remove('Views')

In [13]:
X =  train[columns]
X.head()
y = train['Views']

In [14]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
X['Name_enc'] = le.fit_transform(X['Name'])
X['Genre_enc'] = le.fit_transform(X['Genre'])

In [15]:
X.drop(['Name','Genre','Country','Song_Name','Timestamp'],inplace = True,axis = 1)

In [16]:
X.head()

,Unique_ID,Comments,Likes,Popularity,Followers,day,hour,month,year,minute,Name_enc,Genre_enc
0,413890,4,499,97,119563,30,15,3,2018,24,399,5
1,249453,17,49,17,2141,20,5,6,2016,58,265,5
2,681116,11,312,91,22248,8,17,5,2015,45,630,5
3,387253,2,"2,400",76,393655,8,23,6,2017,50,362,17
4,1428029,81,"3,031",699,201030,17,20,9,2016,50,971,5

In [26]:

from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val = train_test_split(X,y,random_state = 1, test_size =0.2)

In [27]:
def makeNumeric(data,col):
    X[col] = X[col].str.replace(',','')
    likes = []
    for d in X[col]:
        if d.endswith('K'):
            likes.append(float(d.replace('K',''))*1000)
        elif d.endswith('M'):
            likes.append(float(d.replace('M',''))*1000000)
        else:
            likes.append(float(d))
    return likes

In [28]:
X['Likes'] = makeNumeric(X,'Likes')
X['Popularity'] = makeNumeric(X,'Popularity')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [29]:
x_train.head(10)

,Unique_ID,Comments,Likes,Popularity,Followers,day,hour,month,year,minute,Name_enc,Genre_enc
44458,899924,0,2.0,0.0,11237,14,17,11,2012,34,1148,10
12966,193032,61,8689.0,3380.0,559034,23,17,6,2015,32,259,5
49335,1194339,148,46300.0,2688.0,943561,16,9,5,2016,33,831,0
73748,1459936,181,44200.0,1496.0,822796,17,1,2,2017,54,468,0
19339,1432016,25,1145.0,202.0,76211,24,17,6,2018,46,1174,6
24282,532864,108,51900.0,2654.0,1177595,11,5,6,2016,25,510,0
49648,187475,93,3533.0,1066.0,20403,27,5,6,2016,36,253,9
68634,6366,0,142.0,2.0,5758,2,3,5,2018,33,10,4
12024,1089868,0,16.0,1.0,17784,25,1,1,2019,14,734,14
59795,1322864,35,465.0,89.0,87682,31,15,3,2017,36,894,6

# training models

In [30]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

RFR_model = RandomForestRegressor(random_state = 1)
RFR_model.fit(x_train,y_train)

C:\Users\ujwal\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [31]:
y_pred_rf = RFR_model.predict(x_val)

In [32]:
print(mean_squared_error(y_val,y_pred_rf))

864741585914.683

In [33]:
from sklearn.metrics import mean_absolute_error

In [34]:
print(mean_absolute_error(y_val,y_pred_rf))

96862.0003696151

# Regression

In [35]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [36]:
y_pred_reg  = reg.predict(x_val)

In [37]:
print(mean_squared_error(y_pred_reg,y_val))

784638912871.337

# XGboost

The following command must be run outside of the IPython shell:

    $ pip install xgboost

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [39]:
import xgboost as xgb
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(x_train,y_train)

[12:43:13] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.0.0/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster=None, colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.3, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints=None,
       learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=nan, monotone_constraints=None,
       n_estimators=10, n_jobs=0, num_parallel_tree=1,
       objective='reg:linear', random_state=0, reg_alpha=10, reg_lambda=1,
       scale_pos_weight=1, subsample=1, tree_method=None,
       validate_parameters=False, verbosity=None)

In [43]:
y_pred = xg_reg.predict(x_val)

In [44]:
print(mean_squared_error(y_pred,y_val))

7503136000783.462

In [45]:
test = pd.read_csv("Data_Test.csv")

In [46]:
test.head()

,Unique_ID,Name,Genre,Country,Song_Name,Timestamp,Comments,Likes,Popularity,Followers
0,562546,L2Share♫79,all-music,AU,엔플라잉 N.Flying - Rooftop (옥탑방),2019-01-02 09:49:19.000000,26,"5,428",118,2568
1,907584,Morgan Page,danceedm,AU,Morgan Page - In The Air - Episode 246,2015-03-09 17:30:10.000000,18,738,195,155645
2,213013,Dirty Workz,danceedm,AU,Outlander - Devotion (Official HQ Preview),2013-09-18 16:09:03.000000,18,386,96,29446
3,340312,Gucci Mane,all-music,AU,Freaky Gurl,2007-08-14 00:00:00.000000,1,388,19,799410
4,41854,Angga Kecap,rock,AU,Radical Nusantara - Teman,2018-08-10 16:28:54.000000,0,79,1,2

In [47]:
test['Name_enc'] = le.fit_transform(test['Name'])
test['Genre_enc'] = le.fit_transform(test['Genre'])

In [48]:
test['day'] = pd.to_datetime(test['Timestamp']).dt.day
test['hour'] = pd.to_datetime(test['Timestamp']).dt.hour
test['month'] = pd.to_datetime(test['Timestamp']).dt.month
test['year'] = pd.to_datetime(test['Timestamp']).dt.year
test['minute'] = pd.to_datetime(test['Timestamp']).dt.minute

In [49]:
test.drop(['Name','Genre','Country','Song_Name','Timestamp'],inplace = True,axis = 1)

In [51]:
test.head()

,Unique_ID,Comments,Likes,Popularity,Followers,Name_enc,Genre_enc,day,hour,month,year,minute
0,562546,26,"5,428",118,2568,487,0,2,9,1,2019,49
1,907584,18,738,195,155645,604,5,9,17,3,2015,30
2,213013,18,386,96,29446,235,5,18,16,9,2013,9
3,340312,1,388,19,799410,350,0,14,0,8,2007,0
4,41854,0,79,1,2,53,19,10,16,8,2018,28

In [56]:
def makeNumeric(data,col):
    test[col] = test[col].str.replace(',','')
    likes = []
    for d in test[col]:
        if d.endswith('K'):
            likes.append(float(d.replace('K',''))*1000)
        elif d.endswith('M'):
            likes.append(float(d.replace('M',''))*1000000)
        else:
            likes.append(float(d))
    return likes

In [57]:
test['Likes'] = makeNumeric(test,'Likes')
test['Popularity'] = makeNumeric(test,'Popularity')

In [58]:
test.head()

,Unique_ID,Comments,Likes,Popularity,Followers,Name_enc,Genre_enc,day,hour,month,year,minute
0,562546,26,5428.0,118.0,2568,487,0,2,9,1,2019,49
1,907584,18,738.0,195.0,155645,604,5,9,17,3,2015,30
2,213013,18,386.0,96.0,29446,235,5,18,16,9,2013,9
3,340312,1,388.0,19.0,799410,350,0,14,0,8,2007,0
4,41854,0,79.0,1.0,2,53,19,10,16,8,2018,28

In [60]:
test = test[['Unique_ID', 'Comments', 'Likes', 'Popularity', 'Followers', 'day', 'hour', 'month', 'year', 'minute', 'Name_enc', 'Genre_enc']]

In [61]:
test.head()

,Unique_ID,Comments,Likes,Popularity,Followers,day,hour,month,year,minute,Name_enc,Genre_enc
0,562546,26,5428.0,118.0,2568,2,9,1,2019,49,487,0
1,907584,18,738.0,195.0,155645,9,17,3,2015,30,604,5
2,213013,18,386.0,96.0,29446,18,16,9,2013,9,235,5
3,340312,1,388.0,19.0,799410,14,0,8,2007,0,350,0
4,41854,0,79.0,1.0,2,10,16,8,2018,28,53,19

In [62]:
test_pred = xg_reg.predict(test)

In [63]:
submission = pd.concat([test['Unique_ID'],pd.Series(test_pred)],axis=1)

In [65]:
submission.columns=['Unique_ID','Views']
submission['Views']=submission['Views'].round()

In [66]:
submission.head()

   Unique_ID     Views
0     562546  161238.0
1     907584  126044.0
2     213013   98683.0
3     340312  201848.0
4      41854   19148.0

In [70]:
submission.to_excel('sub1.xlsx',index=False)